a {
  text-decoration: none;
  font-weight: bold;
}

img {
  /*float: left;*/
  margin-right: 12px;
  margin-bottom: 6px;
  border: 1px solid #000;
}

.mainimg {
  float: left;
}
{
#hide_e {
  display: none;
}

#elevation {
  display: none;
}

#hide_p {
  display: none;
}

#photos {
  display: none;
}

#show_e {
  display: block;
}

#show_p {
  display: block;
}

.fakelink {
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: #e03a3e;
}

section {
  margin-bottom: 6px;
}

a.tip {
  position: relative;
  z-index: 24;
}

a.top:hover {
  z-index: 25;
}

a.tip span {
  display: none;
}

a.tip:hover span {
  font-weight: normal;
  font-style: italic;
  display: block;
  position: absolute;
  top: 20px;
  left: 25px;
  width: 150px;
  padding: 3px;
  border: 1px solid #000;
  background-color: #000;
}

